language: java
sudo: false
matrix:
  include:
  - os: osx
    osx_image: xcode10
script: 
  - ./gradlew build
before_deploy:
   # Install Sentry.io CLI
  - curl -sL https://sentry.io/get-cli/ | bash
  - sentry-cli info
  - echo Version is $TRAVIS_TAG
  # Create a Sentry release
  - sentry-cli releases new "$TRAVIS_TAG"
  # Create Deploy Artifacts
  - ./gradlew deploy
deploy:
  provider: releases
  api_key: $GITHUB_RELEASE_KEY
  file_glob: true
  file: releases/release-*/*
  overwrite: true
  skip_cleanup: true
  target_commitish: $TRAVIS_COMMIT
  tag_name: $TRAVIS_TAG
  draft: true
  on:
    repo: $REPO
    tags: true
    all_branches: true
after_deploy:
  # Finalize Sentry release
  - sentry-cli releases finalize "$TRAVIS_TAG"
  # Associate commits with the Sentry release
  - sentry-cli releases set-commits "$TRAVIS_TAG" --auto
  # Tell Sentry.io we have deployed a release
  - sentry-cli releases deploys "$TRAVIS_TAG" new -e Production
after_success:
  - wget $TRAVIS_DISCORD_WEBHOOK_SCRIPT_URL
  - chmod +x send.sh
  - ./send.sh success $DISCORD_URL
after_failure:
  - wget $TRAVIS_DISCORD_WEBHOOK_SCRIPT_URL
  - chmod +x send.sh
  - ./send.sh failure $DISCORD_URL