buildVersion=1.4.1.0
ftpServer=ftp.nerps.net
ftpPort=21
ftpUserID=nerps
ftpPassword=Weather7363!
ftpRemoteDir=/public_html/maptool/prod_updates

// Local jWrapper directory to build from/to
jWrapperDir=D:/Development/git/JamzTheMan/maptool/build-resources/jWrapper

// Local JRE copies
Linux32JRE=D:/Development/Java_JRE/java-1.8.92/jre-8u92-linux-i586
Linux64JRE=D:/Development/Java_JRE/java-1.8.92/jre-8u92-linux-x64
Windows32JRE=D:/Development/Java_JRE/java-1.8.92/jre-8u92-windows-i586
Windows64JRE=D:/Development/Java_JRE/java-1.8.92/jre-8u92-windows-x64
Mac64JRE=D:/Development/Java_JRE/java-1.8.60/jre-8u60-macosx-x64/jre1.8.0_60.jre