.menu-bar {
/* 
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
*/
}

.menu-bar .menu .label {
    /*
    -fx-text-fill: #2d3e4c;
    */
}

/* leaf is a PsuedoClass added via the controller to child-only nodes, ie overlays... */
.tree-cell:leaf {
	-fx-content-display: graphic-only;
	-fx-indent: 0.0;
}

.token-view {
	-fx-background-image: url("../image/grid.png");
	-fx-background-size: 20.0, 20.0;
	-fx-border-color: black;
	-fx-border-width: 2.0;
}

.composite-view-checkered {
	-fx-background-image: url("../image/grid.png");
	-fx-background-size: 20.0, 20.0;
	-fx-border-color: black;
	-fx-border-width: 2.0;
}

.composite-view-black {
	-fx-background-color: black;
	-fx-background: black;
	-fx-border-color: black;
	-fx-border-width: 2.0;
}

.composite-transparent {
	-fx-background-color: transparent;
	-fx-background: transparent;
	-fx-border-color: black;
	-fx-border-width: 2.0;
}

.stack-pane > .viewport {
	-fx-background-color: transparent;
}

.stack-pane {
   -fx-background-color: transparent;
}

.scroll-pane > .viewport {
	-fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.toggle-button {
  -fx-graphic: url("../image/unlocked.png");
}

.toggle-button:selected {
  -fx-graphic: url("../image/locked.png");
}